.nav {
    grid-area: n;
    background-color: darkolivegreen;
    padding: 10px;
}

.item{
    color: white;
}

.active{
    text-decoration: none;
    color: gold;
}

.item a{
    text-decoration: none;
}